<%- include('../partials/header') %>
<h1>Create a new ticket for flight</h1>
	
<form id="new-ticket" method="post" action="/flights/<%= flight %>/tickets">
	<label>Seat
		<br>
		<input type="text" name="seat" required pattern="[A-F][1-9]\d?">
	</label>
	<br>
	<label>Price
		<br>
		<input type="number" name="price">
	</label>
	<br><br>
	<input id="new-ticket" type="submit" value="Book ticket">
</form>
<%- include('../partials/footer') %>