<%- include('partials/header') %>
	<h1>
		<%= title %>
	</h1>
	<p>Welcome to <%= title %>
	</p>
	<a href="flights/new">Add a new flight</a>
	<br>
	<a href="/flights/index">View all flights</a>

<%- include('partials/footer') %>