<%- include('../partials/header') %>
	<h2>Add a new flight</h2>
	<form id="new-form" action="/flights" method="post">
		<label>Airline
			<br>
			<select name="airline">
				<option value="N/A">N/A</option>
				<option value="American">American</option>
				<option value="Southwest">Southwest</option>
				<option value="United">United</option>
			</select>
		</label>
		<br><br>
		<label>Airport
			<br>
			<select name="airport">
				<option value="AUS">AUS</option>
				<option value="DFW">DFW</option>
				<option selected="selected" value="DEN">DEN</option>
				<option value="LAX">LAX</option>
				<option value="SAN">SAN</option>
			</select>
		</label>
		<br><br>
		<label>Flight number
			<br>
			<input type="number" name="flightNo">
		</label>
		<br><br>
		<label>Departs
			<br>
			<input type="datetime-local" name="departs" value="yyyy-MM-ddThh:mm">
		</label>
		<br><br>
		<input id="new-flight" type="submit" value="Add Flight">
	</form>
	<br><br>
	<a href="/">Back</a>
<%- include('../partials/footer') %>